services:
  airlines:
    build: 
      context: ./airlines
    ports:
      - "8080:8080"
    profiles: [backends]
  flights:
    build: 
      context: ./flights
    ports:
      - "5001:5001"
    profiles: [backends]
    environment:
      - OTEL_SERVICE_NAME=flights_via_alloy
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
  frontend:
    build: 
      context: ./frontend
    ports:
      - "3000:3000"
    profiles: [ui]
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment: 
      REACT_APP_AIRLINES_API_URL: ${REACT_APP_AIRLINES_API_URL}
      REACT_APP_FLIGHTS_API_URL: ${REACT_APP_FLIGHTS_API_URL}
  alloy:
    profiles: [backends]
    container_name: alloy
    image: grafana/alloy:latest
    ports:
      - "12345:12345"
      - "4317:4317"
      - "4318:4318"
      - "9090:9090"
    environment:
      - CLOUD_OTLP_ENDPOINT=${CLOUD_OTLP_ENDPOINT}
      - CLOUD_OTLP_USERNAME=${CLOUD_OTLP_USERNAME}
      - CLOUD_OTLP_PASSWORD=${CLOUD_OTLP_PASSWORD}
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy
    command: [
      "run",
      "--server.http.listen-addr=0.0.0.0:12345",
      "--storage.path=/var/lib/alloy/data",
      "--stability.level=public-preview",
      "/etc/alloy/config.alloy",
    ]